.divClimaInfo {
  display: grid;
  grid-template-columns: 1fr;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(0, 66, 29);
}
.ciudad{
  max-width: 300px ;
}
.divMapa {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 25px;
  box-shadow: 4px 4px 5px rgb(59, 56, 56);
}

.icon {
  width: 60px;
  height: auto;
}
